#gamesList {
	color: white;
	position: absolute;
	left: 0;
	width: calc(70%);
	height: 100%;
	overflow-y: scroll;
}

.gameEntry {
	border: 1px solid white;
	padding: 3px;
}
.gameEntry > div {
	color: white;
	margin-bottom: 2px;
}

#createGame {
	position: absolute;
	padding: 3px;
	text-align: center;
	left: 70%;
	width: 30%;
}

#createGame label {
	width: auto;
}

#p2Name {
	display: none;
}