/*
 * Kitty Elliott
 * CSC 337
 * Final: "Reversi"
 * 	home.css - stylesheet for home.html
 */

#header {
	width: 100%;
	height: 35px;
}

#gamesList {
	color: white;
	position: absolute;
	left: 0;
	width: 70%;
	height: calc(100% - 40px);
	overflow-y: scroll;
}

.gameEntry {
	border: 1px solid white;
	padding: 3px;
}
.gameEntry > div {
	color: white;
	margin-bottom: 2px;
}

#createGame {
	position: absolute;
	padding: 3px;
	text-align: center;
	left: 70%;
	width: 30%;
}

#createGame label {
	width: auto;
}

#p2Name {
	display: none;
}
