/*
 * Kitty Elliott
 * CSC 337
 * Final: "Reversi"
 * 	home.css - stylesheet for home.html
 */

 #header {
	width: 100%;
	height: 35px;
}

#header * {
	display: inline;
}

#header a {
	font-size: 0.6em;
}

#gamesList {
	color: white;
	position: absolute;
	left: 0;
	top: 50px;
	width: 70%;
	height: calc(100% - 40px);
	overflow-y: scroll;
}

.gameEntry {
	border: 1px solid white;
	padding: 3px;
}
.gameEntry > div {
	color: white;
	margin-bottom: 2px;
}

#createGame {
	position: absolute;
	padding: 3px;
	text-align: center;
	right: 0;
	top: 50px;
	width: 30%;
	height: 200px;
}

#activeUserArea {
	color: white;
	font-weight: bold;
	position: absolute;
	right: 0;
	top: 175px;
	width: 30%;
	height: calc(100% - 175px);
	border-top: 2px solid white;
	overflow-y: scroll;
}

#createGame label {
	width: auto;
}

.labelAndRadBut {
	display: inline-block;
	white-space: nowrap;
}

#p2Name {
	display: none;
}
