/*
 * Kitty Elliott
 * CSC 337
 * PA10: "Ostaa pt2"
 * 	style.css
 */

body {
	background-color: goldenrod;
	text-align: center;
}

h3 {
	color: brown;
}

p {
	width: max-content;
	background-color: olivedrab;
	padding: 5px 20px;
	margin: auto;
	border: 2px solid white;
	color: white;
	font-weight: bold;
	font-style: italic;
}

form {
	display: block;
	width: max-content;
	margin: auto;
	text-align: justify;
}

form > label {
	display: inline-block;
	font-weight: bold;
	width: 100px;
	color: white;
}

#gameInfo {
	width: 100%;
	border: 3px solid brown;
	margin-bottom: 5px;
}

#board {
	background-color: blue;
	width: 400px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	font-size: 2em;
	border: 3px solid black;
}

#board td {
	border: 1px solid black;
}

.empty {
	color: darkslateblue
}

.tkB {
	color: black
}

.tkW {
	color: white
}

.movePossible {
	color: olivedrab
}